/**
 * This is the central home page
 *
 */
section#home {

  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0; left: 0;
  padding: 100px 20px 0;
  background-image: url('/img/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  div.content {
      max-width: $siteWidth;
      margin: 0 auto;
      color: #FFF;
      &__count {
        color: white;
        font-size: 24px;
      }

      &__sub-content {
        margin-top: 70px;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      &__buttons {
        display: flex;
        width: 110px;
        justify-content: space-around;
      }

      &__button {
        cursor: pointer;
        border:1px solid white;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 5px;
        &:hover {
          color:black;
          background-color: beige;
        }
      }
  }
}